.moveButton {
    display: inline-block;
    padding: 7px 25px;
    background-color: #bdbdbdb3;
    border: 1px #0000004d;
    border-style: solid;
    margin-top: 15px;
    margin-left: 1px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    line-height: 40px;
    margin: 2px;
    padding: 10px;
    font-weight: bold;
}

.tokenTitle {
    width: 60px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.card {
    display: inline-block;
    user-select: none;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
    width: 120px;
    height: 168px;
    transition: all 0.1s;
    line-height: 140px;
}
