.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    line-height: 40px;
    margin: 2px;
    padding: 10px;
    font-weight: bold;
}

.tokenTitle {
    width: 60px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
