.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tokenDiv {
    width: 400px;
    float: left;
}

.scoreDiv{
    float: left;
    margin-left: 20px;
    display: inline-block;
    height: 325px;
    vertical-align: middle;
    transform: translateY(50%);
}

.boardDiv {
    float: left;
}

.handDiv {
    float: left;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 16px;
    }
    
    .tokenDiv {
        width: 175px;
        float: left;
    }

    .scoreDiv{
        float: left;
        margin-left: 10px;
        display: inline-block;
        height: 140px;
        vertical-align: middle;
        font-size:10px;
        transform: translateY(50%);
    }
}
